ul {
	list-style: none;
}

a {
	color: white;
}

.page-title {
	color: var(--success);
	font-weight: bold;
	font-size: 3.5rem;
	margin-bottom: 20px;
}

.list {
	list-style: disc;
	padding: 0;
}

.first-button {
	width: 300px;
	height: 70px;
	background-color: rgba(255, 255, 255, 0.6);
	border: solid 3px;
	border-color: #5cb85c;
	margin-top: 5%;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

	.first-button:hover {
		background-color: #5cb85c;
		border-color: white;
		text-decoration: none;
	}

.link-wrapper {
	display: block;
	text-decoration: none;
	color: black;
	width: 100%;
	height: 70px;
	padding-top: 12px;
	font-size: 25px;
	text-align: center;
}

.link-wrapper:hover {
	text-decoration: none; /*This code is needed to stop a from reverting to standard color and decoration on hover*/
	color: black;
}

.main-section {
	margin-top: 100px;
	padding-left: 10%;
	padding-right: 10%;
}

.animation {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	height: 60px;
	border-radius: 15px;
	border: solid 5px;
}

.animation-red {
	border-color: var(--customred);
}

	.animation-red:hover {
		background-color: var(--customred);
	}

.color-red {
	font-size: 1.8rem;
	color: var(--customred);
}

	.color-red:hover {
		opacity: 0.8;
		color: var(--customred);
		text-decoration: none;
	}

.color-yellow {
	font-size: 1.8rem;
	color: var(--customyellow);
}

	.color-yellow:hover {
		opacity: 0.8;
		color: var(--customyellow);
		text-decoration: none;
	}

.color-green {
	font-size: 1.8rem;
	color: var(--success);
}

	.color-green:hover {
		opacity: 0.8;
		color: var(--success);
		text-decoration: none;
	}

.color-blue {
	font-size: 1.8rem;
	color: var(--customblue);
}

.color-blue:hover {
	opacity: 0.8;
	color: var(--customblue);
	text-decoration: none;
}