* {
	font-family: 'Noto Sans JP', sans-serif;
	--success: #5cb85c;
	--customred: #bf1d1d;
	--customyellow: #fcba03;
	--customblue: #036bfc;
	--customgrey: #d1d1d1;
	--custompurple: #8c53ad;
}

.container .dropdown-menu {
	position: static !important;
	float: none !important;
}

.content-section {
	margin-top: 30px;
	margin-left: 10%;
	margin-right: 10%;
}

.title {
	color: var(--success);
	font-size: 3.5rem;
	font-weight: bold;
}

.full-size {
	display: block;
	width: 100%;
	height: 100%;
}

.min-height-54 {
	min-height: 54px;
}

.min-width-250 {
	min-width: 250px;
}

.min-width-450 {
	min-width: 450px;
}

.min-width-500 {
	min-width: 500px;
}

.padding-top-20 {
	padding-top: 20px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.paralax {
	background-image: url("../img/show_2.jpg");
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.text-wrapper {
	margin-left: 2%;
	margin-right: 2%;
}

.text-red {
	color: var(--customred);
}

.text-yellow {
	color: var(--customyellow);
}


.text-blue {
	color: var(--customblue);
}

.text-grey {
	color: var(--customgrey);
}

.text-purple {
	color: var(--custompurple);
}

.mt-30 {
	margin-top: 30px;
}

.mt-100 {
	margin-top: 100px;
}

.mt-150 {
	margin-top: 150px;
}

.mb-30 {
	margin-bottom: 30px;
}

@media only screen and (max-device-width: 1366px) {
	.parallax {
		background-attachment: scroll;
	}
}
