* {
	font-family: 'Noto Sans JP', sans-serif;
	--success: #5cb85c;
	--customred: #bf1d1d;
	--customyellow: #fcba03;
	--customblue: #036bfc;
	--customgrey: #d1d1d1;
	--custompurple: #8c53ad;
}

.container .dropdown-menu {
	position: static !important;
	float: none !important;
}

.content-section {
	margin-top: 30px;
	margin-left: 10%;
	margin-right: 10%;
}

.title {
	color: var(--success);
	font-size: 3.5rem;
	font-weight: bold;
}

.full-size {
	display: block;
	width: 100%;
	height: 100%;
}

.min-height-54 {
	min-height: 54px;
}

.min-width-250 {
	min-width: 250px;
}

.min-width-450 {
	min-width: 450px;
}

.min-width-500 {
	min-width: 500px;
}

.padding-top-20 {
	padding-top: 20px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.paralax {
	background-image: url("../img/show_2.jpg");
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.text-wrapper {
	margin-left: 2%;
	margin-right: 2%;
}

.text-red {
	color: var(--customred);
}

.text-yellow {
	color: var(--customyellow);
}


.text-blue {
	color: var(--customblue);
}

.text-grey {
	color: var(--customgrey);
}

.text-purple {
	color: var(--custompurple);
}

.mt-30 {
	margin-top: 30px;
}

.mt-100 {
	margin-top: 100px;
}

.mt-150 {
	margin-top: 150px;
}

.mb-30 {
	margin-bottom: 30px;
}

@media only screen and (max-device-width: 1366px) {
	.parallax {
		background-attachment: scroll;
	}
}

/*******************************************************************
*Slideshow specific*
*******************************************************************/

.slideshow-title {
	font-size: 4.3rem;
	font-weight: bold;
	max-width: 95%;
}

.slideshow-subtitle {
	color: white;
	font-size: 2rem;
}

.content-wrapper {
	padding-top: 10%;
	padding-left: 7%;
	padding-right: 7%;
}

.slideshow-container {
	height: auto;
	position: relative;
	margin: auto;
	min-height: 800px;
}

.slideshow-image {
	width: 100%;
	height: auto;
	min-height: 800px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.show-first {
	background-image: url("../img/show_1.jpg");
}

.show-second {
	background-image: url("../img/show_2.jpg");
}

.show-third {
	background-image: url("../img/show_3.jpg");
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active {
	background-color: #717171;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.text {
		font-size: 11px
	}
}


.slide-button {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	height: 100px;
}

.left-button {
	left: 0;
	padding-left: 5px;
}

.right-button {
	right: 0;
	padding-right: 5px;
}

.arrows {
	width: 100%;
	height: 100%;
	font-size: 2rem;
	color: white;
}

.arrows:hover {
	color: grey;
	background-color: rgba(10, 10, 10, 0.3);
}

.lower-buttons {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
