ul
{
	list-style: none;
	padding: 0;
}

.service {
	font-size: 2.3rem; 
	font-weight: 800;
	color: var(--success);
}

li {
	margin-top: 1.2rem;
	font-size: 1.4rem;
}

.image-container {
	width: 80%;
	height: auto;
	min-width: 400px;
}

.list-wrapper {
	display: flex;
	align-items: center;
	height: 70%;
}

.list-text {
	height: 44px;
	margin-left: 10px;
}

.button-wrapper {
	display: block;
	margin: auto;
	margin-top: 30px;
	width: 25vw;
	min-width: 400px;
	height: 100px;
	margin-bottom: 100px;
	border: solid 4px var(--success);
	transition: all 0.3s;
}

.button-wrapper:hover {
	background-color: var(--success);
	color: white;
}

.link-wrapper {
	display: inline-block;
	height: 100%;
	width: 100%;
	font-size: 2rem;
	padding-top: 15px;
	color: inherit;	
}

/*Without this pseudoclass, link would be display as underlined blue*/
.link-wrapper:hover {
	text-decoration: none;
	color: white;
}